<a href="https://colab.research.google.com/github/AIWalaBro/Capstone_Project_ML/blob/main/Merge_Files/Merge_files_flat_%26_houses_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_flats = pd.read_csv('/content/flats_cleaned.csv')
df_house = pd.read_csv('/content/house_cleaned.csv')

In [3]:
df_flats.shape

(2997, 20)

In [4]:
df_house.shape

(964, 20)

In [5]:
df_flats.isnull().sum()

property_name        0
property_type        0
society              1
price                1
price_per_sqft       1
area                 1
areaWithType         0
bedRoom              0
bathroom             0
balcony              0
additionalRoom       0
address              6
floorNum             2
facing             874
agePossession        1
nearbyLocations     91
description          0
furnishDetails     797
features           407
rating             329
dtype: int64

In [7]:
df_house.isnull().sum()

property_name        0
property_type        0
society              0
price               19
price_per_sqft      19
area                19
areaWithType         0
bedRoom              0
bathroom             0
balcony              0
additionalRoom       0
address              5
floorNum            19
facing             303
agePossession        0
nearbyLocations    116
description          0
furnishDetails     235
features           302
rating             121
dtype: int64

In [8]:
df = pd.concat([df_flats,df_house],ignore_index=True)

In [22]:
df.head(1)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [9]:
df.shape

(3961, 20)

#### total rows are 3961 and 20 columns

In [25]:
df.shape[0]

3961

# SHUFFLE THE DATA

In [10]:
df = df.sample(df.shape[0],ignore_index=True)

In [11]:
df.shape

(3961, 20)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [13]:
df.to_csv('gurgaon_properties.csv',index=False)

In [14]:
df2 = pd.read_csv('/content/gurgaon_properties.csv')

In [15]:
df2.shape

(3961, 20)